<footer>
  <p>2026 Filip Černý.</p>
  <div class="social-links">
    <a href="/contact/" class="social-icon"><i class="fas fa-envelope"></i></a>
    <button id="share-btn" class="social-icon"><i class="fas fa-share-alt"></i></button>
  </div>
</footer>
