<header>
  <nav>
    <button id="hamburger-toggle" aria-label="Toggle menu" style="display: flex; align-items: center; gap: 12px">
      <span id="current-page-name"></span>
      <i id="hamburger-icon" class="fas fa-bars"></i>
      <i id="close-icon" class="fas fa-times" style="display:none;"></i>
    </button>
    <ul id="nav-menu">
      <li><a href="/" {% if page.url == "/" %}class="active"{% endif %}><i class="fas fa-home"></i>Home</a></li>
      <li><a href="/gallery/" {% if page.url == "/gallery/" %}class="active"{% endif %}><i class="fa-solid fa-images"></i>Gallery</a></li>
      <li><a href="/docs/cernyfilip.pdf" target="_blank"><i class="fa-solid fa-file"></i>CV</a></li>
      <li><a href="/contact/" {% if page.url == "/contact/" %}class="active"{% endif %}><i class="fas fa-phone"></i>Contact</a></li>
      <li>
        <button id="theme-toggle">
          <i id="theme-icon" class="fa fa-moon"></i>
          <span id="theme-text">Dark Mode</span>
        </button>
      </li>
    </ul>
  </nav>
</header>
