---
layout: base.njk
title: Contact
favicon: /contact/phone-solid.svg
---
<main>
  <h1>Ways to connect with me</h1>

  <p>School email: cernyfi188@student.gfxs.cz</p>
  <p>Pesonal email: cernyfi@post.cz</p>
  <p>Github: <a href="https://github.com/cernyfi" target="_blank" class="black-link">https://github.com/cernyfi</a></p>
</main>
