---
layout: base.njk
title: Filip Černý
favicon: /house-solid.svg
---
<main>
  <h1>Welcome</h1>
  <section class="intro-container">
    <div class="intro">
      <p>Hello! I'm Filip Černý, a formal student at <a href="https://gfxs.cz" target="_blank" class="black-link">Gymnázium F. X. Šaldy</a>.
        Outside of school, I’m diving into programming languages like Python on my own and currently involved in research at Akademie Věd ČR.</p>

      <p>Photography is one of my biggest passions. I shoot digitally with my <a href="https://en.wikipedia.org/wiki/Canon_EOS_R8" target="_blank" class="black-link">Canon EOS R8</a>,
        which was stolen recently, so I had to return to a <a href="https://en.wikipedia.org/wiki/Canon_EOS_700D" target="_blank" class="black-link">Canon EOS 600D</a> for now.
        I also enjoy the classic feel of film photography using my <a href="https://en.wikipedia.org/wiki/Zenit_TTL" target="_blank" class="black-link">Zenit TTL</a>
        and <a href="https://en.wikipedia.org/wiki/Nikon_F75" target="_blank" class="black-link">Nikon F75</a> (which was also stolen :( ) cameras. I developed my first film myself on the 7th of June 2025. Feel free to explore my visual journey in
        the <a href="/gallery/" class="black-link">gallery</a>.</p>

      <p>When I’m not behind the camera or coding, I love traveling especially bikepacking. Plus, I’m a big fan of metal music, it just fuels me with energy.</p>

      <p>Here is my new calendar app that I have been working on: <a href="/data/app-debug.apk" target="_blank" class="black-link">Download Calendar App</a>
        It has all Czech and Slovak names and proverbs including their explanations. You can add customisable widgets to your home screen easily and see who has a nameday today.</p>

      <p>Oh, and I also wrote a seminar paper about 2D materials, combining my interests in science and technology.</p>
    </div>
    <div class="intro-photo">
      <img src="/photos/digital/DSC_5794.jpg" alt="Photo of Filip Černý">
    </div>
  </section>
</main>